@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 0%;
		--foreground: 14 5% 0%;
		--card: 14 50% 90%;
		--card-foreground: 14 5% 10%;
		--popover: 14 100% 95%;
		--popover-foreground: 14 100% 0%;
		--primary: 14 100% 50.2%;
		--primary-foreground: 0 0% 100%;
		--secondary: 14 30% 70%;
		--secondary-foreground: 0 0% 0%;
		--muted: -24 30% 85%;
		--muted-foreground: 14 5% 35%;
		--accent: -24 30% 80%;
		--accent-foreground: 14 5% 10%;
		--destructive: 0 100% 30%;
		--destructive-foreground: 14 5% 90%;
		--border: 15 100% 52%;
		--input: 15 100% 52%;
		--ring: 14 100% 50.2%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 0 0% 0%;
		--foreground: 14 5% 90%;
		--card: 14 50% 0%;
		--card-foreground: 14 5% 90%;
		--popover: 245 42% 13%;
		--popover-foreground: 14 5% 90%;
		--primary: 14 100% 50.2%;
		--primary-foreground: 0 0% 100%;
		--secondary: 14 30% 10%;
		--secondary-foreground: 0 0% 100%;
		--muted: -24 30% 15%;
		--muted-foreground: 14 5% 60%;
		--accent: -24 30% 15%;
		--accent-foreground: 14 5% 90%;
		--destructive: 0 100% 30%;
		--destructive-foreground: 14 5% 90%;
		--border: 15 100% 52%;
		--input: 15 100% 52%;
		--ring: 14 100% 50.2%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
